<nav aria-label="breadcrumb">
    <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item " aria-current="page">
            <a itemprop="item" href="/">
                <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        {% if parent|default(null) %}
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item" aria-current="page">
                <a itemprop="item" href="/{{ parent.Slug }}">
                    <span itemprop="name">{{ parent.Name }}</span>
                </a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item" aria-current="page">
                <a itemprop="item" href="/{{ parent.Slug }}/{{ page.Slug }}">
                    <span itemprop="name">{{ page.name }}</span>
                </a>
                <meta itemprop="position" content="3" />
            </li>
        {% else %}
            {% if app.request.pathinfo != '/' %}
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item" aria-current="page">
                <a itemprop="item" href="/{{ page.Slug }}">
                    <span itemprop="name">{{ page.name }}</span>
                </a>
                <meta itemprop="position" content="2" />
            </li>
            {% endif %}
        {% endif %}
    </ol>
</nav>